{% extends 'userhome.html' %}


<style>
#category_main
{
    min-height: 450px;
    width: 750px;

}
.category_main_part
{
    height: 200px;
    width: 250px;
    float: left;
}
</style>
<center>
{% block content%}
<h2>Sub Categories to search Bidding Products >> {{catnm}}</h2>

<div id="category_main">
    {% for row in sclist %}
    <a href="/user/viewbiddingproducts/?scnm={{row.subcatnm}}" >
    <div class="category_main_part">
        <br>
        <img src="{{media_url}}{{row.subcaticonnm}}" height="100" width="200" />
        <br>
        <b>{{row.subcatnm}}</b>
    </div>
    </a>
    {% endfor %}

</div>
</center> 
{% endblock %}
                     
