{% extends 'adminhome.html' %}


{% block content %}
<center>
<div class="row">

<h2>Change Password</h2>    
<form method="POST" action={{curl}}/myadmin/changepassword_admin/ >
{% csrf_token %}
<div class="col" width="70%">              
<table class="table table-bordered table-hover">
<tbody>
<tr>
<td>Old Password</td>
<td><input type="password" class="form-control" id="pwd"></td>
</tr>
<tr>
<td>New Password</td>
<td><input type="password" class="form-control" id="pwd"></td>
</tr>
<tr>
<td>Confirm New Password</td>
<td><input type="password" class="form-control" id="pwd"></td>
</tr>
</tbody>
</table>
</div>
</form>
<center>
<input type="submit" class="btn btn-primary">
</center>
    
</center>
{% endblock %}